// Custom.scss

// Required Bootstrap
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Custom Sass

html, main {
  background-image: url("../images/bgr.jpg");
  background-size: 100%;
}

.circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 12px;
  color: black;
  line-height: 32px;
  text-align: center;
  background: white;
  border: 1px solid black;
}

$purple: #962BF8;

.active {
  background: $purple;
  color: white;
}

.row.live {
  padding: 10px 0px;
}

// Optional Bootstrap
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/utilities";
